.App header h1 {
	margin: 10px;
	color: white;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.App header a:focus {
	text-decoration: none;
	outline: none;
}
