.result {
	margin: 17px 5px;
	text-decoration: none;
	color: white;
	display: flex;
	background-color: transparent;
	background: transparent;
	border: none;
	text-align: left;
}

.result:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.result:hover {
	background: lightgray;
}

.result:active {
	background: gray;
}

.result h2 {
	margin: 0;
}

.result h3 {
	margin: 0;
}

.result img {
	height: 120px;
	width: 120px;
	display: inline-block;
}

.song-info-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 32px 25px;
}
